<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Home Pag <%= 'Hello world'.toUpperCase() %></h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestias. Ipsam deleniti cumque dolore ab architecto quos soluta sit magnam. Excepturi ea necessitatibus perspiciatis minus tenetur nobis debitis, labore doloribus.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, molestias. Ipsam deleniti cumque dolore ab architecto quos soluta sit magnam. Excepturi ea necessitatibus perspiciatis minus tenetur nobis debitis, labore doloribus.</p>
  
</body>
</html>